body {
    background: var(--cinza) url(../../../imagens/paisagem-login-grande.jpg) center center fixed;
    background-size: cover;
    color: var(--texto);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.55);
    backdrop-filter: blur(2px); 
    z-index: 0;
}

.login-container {
    background: var(--branco);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 350px;
    z-index: 1;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--acento);
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: var(--cinza);
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: var(--acento);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: .9;
}

p.msg {
    color: var(--vermelho);
    border-radius: 6px;
    text-align: center;
    margin-bottom: -10px;
    margin-top: 20px;
    font-size: 14px;
}

a.link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: var(--acento);
    text-decoration: none;
    font-size: 14px;
}

.link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: var(--acento);
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}
