header {
    display: flex;
    flex-flow: row wrap;
}

.menuBtn .material-symbols-outlined {
    font-size: 33px;
    background: none;
    border: none;
    color: var(--branco);
    cursor: pointer;
    margin: -4px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: var(--primaria);
    padding: 25px 20px;
    transform: translateX(-270px);
    transition: .3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--cinza);
    box-shadow: 3px 0 10px rgba(0,0,0,.3);
    position: relative;
    position: fixed;
}

nav.ativo {
    transform: translateX(0);
}

nav section {
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,.15);
    padding-bottom: 15px;
}

nav section p strong {
    font-size: 1.2rem;
    color: var(--branco);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

nav ul li button, #sair {
    width: 100%;
    background: var(--secundaria);
    border: none;
    padding: 12px 10px;
    border-radius: 8px;
    color: var(--cinza);
    font-size: .95rem;
    cursor: pointer;
    transition: .2s;
}

nav ul li button:hover {
    background: var(--acento);
    transform: translateX(4px); 
}

#sair {
    background: #8a0000;
    width: 220px;
    position: absolute;
    bottom: 50px;
}

#sair:hover {
    background: #b30000;
}

.menuBtn {
    font-size: 30px;
    background: none;
    border: none;
    color: var(--branco);
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: none;
    z-index: 999;
}

.overlay.ativo {
    display: block;
}

@media screen and (min-width: 750px) {
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 700px;
    }
}

@media screen and (min-width: 1100px) {
    .overlay.ativo {
        display: none;
    }
}