body {
    background: var(--cinza);
    font-family: Arial, sans-serif;
    color: var(--texto);
    overflow-x: hidden; /* impede rolagem lateral */
}

/* ======== MODAL ======== */
#modalEditar, #modalAlterarSenha { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    z-index: 999;
}

#modalEditar.ativo, #modalAlterarSenha.ativo {
    background: var(--cinza);
    display: flex;
    flex-flow: column wrap;
}

#modalEditar > div,
#modalAlterarSenha > div,
form {
    width: 100%;
    max-width: 340px;
}

/* ======== CONTEÚDO ======== */
#modalEditar h3,
#modalAlterarSenha h3 {
    text-align: center;
    margin-bottom: 15px;
    color: var(--texto);
    font-size: 22px;
}

#modalEditar h4 {
    margin: 25px 0px 8px 0px;
}

/* ======== FORM ======== */
.formProduto {
    padding: 50px;
    /* border-left: 5px solid var(--acento); */
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

.grupo {
    margin-bottom: 15px;
}

.grupo label {
    font-size: 14px;
    color: var(--texto);
}

.grupo input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 2px solid var(--acento);
    background: var(--branco);
    color: var(--texto);
    font-size: 15px;
}

.nivel input[type="radio"] {
    accent-color: var(--acento);
    cursor: pointer;
}


/* ======== BOTÕES ======== */
.botoes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

/* Botão principal: salvar */
.btnSalvar {
    background: var(--acento);
    color: var(--branco);
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.btnSalvar:hover {
    filter: brightness(1.15);
}

/* Botão de alterar senha: estilo outline */
.btnSenha {
    background: transparent;
    color: var(--acento);
    padding: 12px;
    border: 2px solid var(--acento);
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .25s;
}

/* Efeito hover - preenche a cor */
.btnSenha:hover {
    background: var(--acento);
    color: var(--branco);
}

/* Botão cancelar */
.btnFechar {
    background: transparent;
    color: var(--vermelho);
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.btnFechar:hover {
    filter: brightness(1.15);
}


.btnSalvar:hover,
.btnFechar:hover {
    filter: brightness(1.15);
}


@media screen and (min-width: 1100px) {
    #modalEditar.ativo {
        padding-left: 260px;
    }
}